{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load mezzanine_tags event_tags keyword_tags disqus_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<!-- slider -->
<br/>
<div class="container slider_bg">
	<div id="da-slider" class="da-slider text-center">
		<div class="da-slide">
				<font color="#33CCCC"><h2>Education portal</h2></font>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span class="hide_text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
				<h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
		</div>
		<div class="da-slide">
				<font color="#33CCCC"><h2>Online educations</h2></font>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span class="hide_text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
				<h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
		</div>
		<div class="da-slide">
				<font color="#33CCCC"><h2>Education portal</h2></font>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span class="hide_text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
				<h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
		</div>
		<div class="da-slide">
				<font color="#33CCCC"><h2>Online educations</h2></font>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span class="hide_text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></p>
				<h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
		</div>
	</div>
</div>

{% endblocktrans %}
{% endblock %}

{% block EventsNews %}
<!-- events and news -->
<div class="main_bg">
	<div class="container" >
		<div class="row col-md-9 content_left" >
			<font color="#33CCCC"> <h3> &nbsp &nbsp &nbsp &nbsp &nbsp Events</h3></font>
			<br/><br/>
            {% for event in events %}
            <div class="col-md-6">
                <div class="cau_left">
                    {% if event.featured_image %}
                            <img class="img-responsive img-circle" style="width: 220px; height: 220px;"  src="{{ MEDIA_URL }}{% thumbnail event.featured_image 90 90 %}">
                    {% else %}
                        <img class="img-responsive img-circle" src="{% static "images/c3.jpg" %}"/>
                    {% endif %}
                    <div class="cau_left">
                        <font color="#33CCCC"><h4><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h4></font>
                        <h5>
                            <b>Start Date:</b>{{ event.start }}<br/>
                            {% if event.end %}
                                <b>End Date:</b>{{ event.end }}<br/>
                            {% endif %}
                            {% if event.location %}
                                <b>Location:</b><a href="{% url "event_list_location" event.location.slug %}">{{ event.location }}</a><br/>
                            {% endif %}
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
		</div>
		
		<div class="row col-md-3 content_right new_style"   >
			<font color="#33CCCC"><h3> News</h3></font>			
			<br/>

			<div name="news" class=" news1">
			    <img src="{% static "images/news.jpg" %}" width="80" height="80" align="left" class="news_image">
				<div  class="news_text">
				  <font size="3"> 
					This is some text. This is some text... <a href="#"> see more</a> 
				  </font>
				</div> 
			</div>

			<br/><br/>	
			<div name="news" class=" news2">
				<img src="{% static "images/news.jpg" %}" width="80" height="80" align="left" class="news_image">			  
				<div  class="news_text">
					<font size="3"> 
							This is some text. This is some text... <a href="#"> see more</a> 
						</font>
					</div>
				</div>	
			<br/><br/>
			
			<div name="news" class=" news3">
				<img src="{% static "images/news.jpg" %}" width="80" height="80" align="left" class="news_image">			  
					<div  class="news_text">
						<font size="3"> 
								This is some text. This is some text... <a href="#"> see more</a> 
						</font>
					</div>
			</div>

			<br/><br/>
			<div name="news" class=" news4">
				<img src="{% static "images/news.jpg" %}" width="80" height="80" align="left" class="news_image">			  
					<div  class="news_text">
						<font size="3"> 
								This is some text. This is some text... <a href="#"> see more</a> 
						</font>
					</div>
			</div>		
			<br/><br/>	

				
		</div>
	</div>	
</div>


{% endblock %}