{% extends "base.html" %}

{% load i18n mezzanine_tags accounts_tags %}
{% load static %}

{% block meta_title %}{{ profile_user|username_or:"get_full_name" }}{% endblock %}
{% block title %}{{ profile_user|username_or:"get_full_name" }}{% endblock %}
{% block body_id %}{% endblock %}


{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ profile_user|username_or:"get_full_name" }}</li>
{% endblock %}

{% block main %}
<div class="row">
<div class="profile-image col-md-3">
    {% if profile_user.profile.img %}
        <img class="img-thumbnail" src="{{ profile_user.profile.img.url }}">
    {% else %}
        <img class="img-thumbnail" src="{% gravatar_url profile_user.email 128 %}">
    {% endif %}
    {% if profile_user == request.user %}
    <br><a class="btn calender" href="{% url "profile_update" %}">{% trans "Update profile" %}</a>
    {% endif %}
</div>
<div class="profile-content col-md-9">
     <h2>{{ profile_user.get_full_name }}</h2>
     <h2>{{ profile_user.get_first_name }}</h2>
     {{ profile_user.get_age }}

    {% if profile_user.profile.cv %}
        <h4><a href="{{ profile_user.profile.cv.url }}" target="_blank">Show CV</a> </h4>
    {% endif %}


{#    {% for field, value in profile_user|profile_fields %}#}
{#    <h3>{{ field }}</h3>#}
{#    <p>{{ value|linebreaksbr }}</p>#}
{#    {% endfor %}#}
</div>
</div>
{% endblock %}
